<!-- Duoshuo Comment BEGIN -->
<a name="comments"> </a>
<div id="comment">
    <div class="ds-thread" data-title="{{ page.title }}" data-thread-key="{{ page.id }}"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"fex"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
</div>
<!-- Duoshuo Comment END -->
