<div class="page-footer">
    <div class="foot-inner">
    <dl>
        <dt>友情链接</dt>
        <dd>
            <ul>
                <li><a href="http://www.baidu.com/" target="_blank">百度首页</a></li>
                <li><a href="http://baike.baidu.com/" target="_blank">百度百科</a></li>
                <li><a href="http://wenku.baidu.com/" target="_blank">百度文库</a></li>
                <li><a href="http://tieba.baidu.com/" target="_blank">百度贴吧</a></li>
                <li><a href="http://lvyou.baidu.com/" target="_blank">百度旅游</a></li>
                <li><a href="http://yuedu.baidu.com/" target="_blank">百度阅读</a></li>
                <li><a href="http://tuan.baidu.com/" target="_blank">百度团购</a></li>
                <li><a href="http://yun.baidu.com/" target="_blank">百度云</a></li>
                <li><a href="http://pan.baidu.com/" target="_blank">百度网盘</a></li>
            <ul>
        </dd>
    </dl>

    <dl>
        <dt>我们的项目</dt>
        <dd>
            <ul>
                {% for project in site.data.projects %}
                    <li><a href="http://github.com/fex-team/{{project.github}}/" target="_blank">{{project.name}}</a></li>
                {% endfor %}
            <ul>
        </dd>
    </dl>

    <dl>
        <dt>加入我们</dt>
        <dd>
            <p>FEX 是百度「Web 前端研发部」的内部名称，其中 FE 是 Front End 的缩写，X 代表我们不仅关注前端技术，还更重视全端及全栈的能力。</p>

            <p>如果你对这个团队感兴趣，可以<a href="/we-need-you/">【更多了解一下】</a>。</p>
        </dd>
    </dl>
    </div>
</div>
<script type="text/javascript">
//var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
//document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe052af119252e0aadf0cf91eea73fec8' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
    var page = "{{page.url}}";
</script>
</body>
</html>