<div class="page-footer">
    <div class="foot-inner">
    <dl>
        <dt>友情链接</dt>
        <dd>
            <ul>
                <li><a href="http://www.baidu.com/">百度首页</a></li>
                <li><a href="http://baike.baidu.com/">百度百科</a></li>
                <li><a href="http://wenku.baidu.com/">百度文库</a></li>
                <li><a href="http://tieba.baidu.com/">百度贴吧</a></li>
                <li><a href="http://lvyou.baidu.com/">百度旅游</a></li>
                <li><a href="http://yuedu.baidu.com/">百度阅读</a></li>
                <li><a href="http://tuan.baidu.com/">百度团购</a></li>
                <li><a href="http://yun.baidu.com/">百度云</a></li>
                <li><a href="http://pan.baidu.com/">百度网盘</a></li>
            <ul>
        </dd>
    </dl>

    <dl>
        <dt>我们的项目</dt>
        <dd>
            <ul>
                <li><a href="http://kitygraph.github.io/kityminder/dist/">KityMinder</a></li>
                <li><a href="http://fex-team.github.io/kityformula/">KityFormula</a></li>
                <li><a href="http://ueditor.baidu.com">UEditor</a></li>
            <ul>
        </dd>
    </dl>

    <dl>
        <dt>加入我们</dt>
        <dd>
            <p>FEX 是百度前端通用团队的新代号，也就是以前的百度webfe团队。
            目前，FEX 团队致力于新技术和端技术的研发和尝试。
            不论是开发工程化，数据可视化，还是Native开发，或是交互领域，
            FEX的这群人都在这些方面不短尝试和前进着。</p>

            <p>如果你对这个团队感兴趣，欢迎投简历加入我们。</p>
        </dd>
    </dl>
    </div>
</div>
<script type="text/javascript">
//var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
//document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe052af119252e0aadf0cf91eea73fec8' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>