<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.title }}_FEX_做最专业的前端_百度前端研发部_百度前端团队Blog" />
    <meta name="keywords" content="{{ page.title }},百度前端团队,FEX,百度FEX,百度前端,fex,百度前端研发,fis,前端模块化,前端工程,富应用开发,html5上传,前端数据监控,性能优化,web performance,编辑器,ueditor" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
    <title>{{ page.title }} FEX 做最专业的前端</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="baidu-site-verification" content="bUyKbVcNh2" />
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/fextm.css">
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">您使用的浏览器版本<strong>过老</strong>，请<a href="http://browsehappy.com/">使用最新的浏览器</a>来提升浏览体验。</p>
<![endif]-->
{% include nav.html %}

