<div class="page-header">
    <a href="/"><div class="logo"></div></a>
    <ul class="page-nav page-navi-{{page.page_id}}">
        <li><a href="/">首页</a></li>
        <li><a href="/articles/">技术</a></li>
        <li><a href="/code.html">开源</a></li>
        <li><a href="/we-need-you/" target="_blank">我们需要你</a></li>
        <li><a href="https://github.com/fex-team/" target="_blank">Github</a></li>
        <li><a href="https://speakerdeck.com/baidufe" target="_blank">Slides</a></li>
    </ul>
    <a class="rss" target="_blank" href="http://fex.baidu.com/feed.xml"></a>
</div>
