<div class="page-header">
    <div class="logo"></div>
    <ul class="page-nav {{page.page_id}}">
        <li><a href="/">首页</a></li>
        <li><a href="/articles/">技术</a></li>
        <li><a href="/code.html" target="_blank">开源</a></li>
        <!-- <li><a href="/team.html">团队</a></li> -->
        <li><a href="http://talent.baidu.com/baidu/web/templet1000/index/corpwebPosition1000baidu!getOnePosition?postIdEnc=FEFBE3C2FE274733&brandCode=1&recruitType=2&lanType=1&operational=6637AA56FA08745E71A74EA6AC68D5FFF28F462DA4C19FB3FABC8882DE74DA1C0FDB6AEAC9F8C487108CCBE39D45983B54F375AA1CAE83E6A21F36A7DBB429FDA1AA45697C458F4E577A7AF5A80647D430DB27A0DC2CE8501A5F2C918BB8EF941C8FE41D11E20AFFA9511543837DA597ADA993F4A79495C679D35888897C39FD21D98BCC2FE67575CAED499E9C86325CC3D44DA1C73F4DA945C7FA90CE9460F2" target="_blank">工作机会</a></li>
        <li><a href="https://github.com/fex-team/" target="_blank">Github</a></li>
    </ul>
</div>