<div class="page-sidebar">
    <!-- <div>
        <img src="/public/images/formula.png" />
    </div> -->

    <ul class="github-projects">
        {% for project in site.data.projects %}
            <li><a href="https://github.com/fex-team/{{ project.github }}" target="_blank">{{ project.name }} - {{ project.desc }}</a></li>
        {% endfor %}
    </ul>

    <div style="text-align:center;margin:30px 0;"><img src="/public/images/erwei.png" /></div>

    <div class="last-comments">
        <!-- 多说最新评论 start -->
        <div class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"fex"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
</div>
