
{% include head.html %}

<div class="container">

<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">
      <img src="/img/{{ post.shortname}}/cover.png" onerror="this.src='/public/images/tmp/250x180.png'" style="width:280px; height:150px;" />
      <p>{{ post.title }}</p>
      <span class="date">{{ post.date | date_to_string }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% include sidebar.html %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/articles/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/articles/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>


{% include foot.html %}