---
title: 技术文章
---
{% include head.html %}

<div class="container">
    <div class="articles">
        <ul class="post-list">
            {% for post in paginator.posts %}
            {% assign current_week = site.time | date: "%Y%W" | minus: 2 %}
            {% assign post_week = post.date | date: "%Y%W" | plus: 0 %}
            {% if post_week > current_week  or post.tag != "weekly" %}
            <li>
                <a href="{{ post.url }}/">
                    {% assign paths = post.id | split: '/' %}
                    <!-- remove style -->
                    <!--<img src="/img/{{ paths[4]}}/cover.jpg" onerror="this.src='/public/images/tmp/cover.png'" style="width:280px; height:150px;"/>-->
                    <div class="bnwrap"><img src="/img/{{ paths[4]}}/cover.jpg" onerror="this.src='/public/images/tmp/cover.png'"/></div>

                    <p>{{ post.title }}</p>
                    <span class="date">{{ post.author }} 发布于 {{ post.date | date_to_string }}</span>
                </a>            
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/articles/" class="previous">&lt;</a>
            {% else %}
            <a href="/articles/page{{ paginator.previous_page }}" class="previous">&lt;</a>
            {% endif %}
            {% else %}
            <a href="#" class="previous disabled">&lt;</a>
            {% endif %}


            {% if paginator.next_page %}
            <a href="/articles/page{{ paginator.next_page }}" class="next">&gt;</a>
            {% else %}
            <a href="#" class="next disabled">&gt;</a>
            {% endif %}

            <!-- <span class="page_number "> {{ paginator.page }} / {{ paginator.total_pages }}</span> -->
        </div>
    </div>

    {% include sidebar.html %}
</div>


{% include foot.html %}
