{% include head.html %}
{% include banner.html %}

<div class="container">

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">
                <img src="/img/{{ post.shortname}}/cover.png" onerror="this.src='/public/images/tmp/250x180.png'"
                     style="width:280px; height:150px;"/>
                <p>{{ post.title }}</p>
                <span class="date">{{ post.date | date_to_string }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% include sidebar.html %}
</div>

{% include foot.html %}