---
title: 
---
{% include head.html %}
{% include banner.html %}

<div class="container">

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">
      {% assign paths = post.id | split: '/' %}
      <img src="/img/{{paths[4]}}/cover.png" onerror="this.src='/public/images/tmp/cover.png'" style="width:100%; height:150px;" />
      <p>{{ post.title }}</p>
      <span class="date">{{ post.author }} 发布于 {{ post.date | date_to_string }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% include sidebar.html %}
</div>

{% include foot.html %}
