---
page_id: articles
---
{% include head.html %}

<link rel="stylesheet" href="/public/css/synatx.css">

<div class="container">
    <article>
        <div class="article-info">
        {% for author in site.data.authors %}
            {% if author.author == page.author %}
                <img src="{{ author.avatar }}" onerror="/img/avatar/fex.png" />
            {% endif %}
        {% endfor %}
            <h1 class="title">{{ page.title }}</h1>
            <div class="author">{{ page.author }} | {{ page.date | date_to_string }}</div>
        </div>

        <div class="content">
        {{ content }}
        </div>

        <div class="author">
        {% for author in site.data.authors %}
            {% if author.author == page.author %}
                本文作者: <a href="{{ author.url }}">{{ author.author }}</a> - {{ author.intro }} <br/>
            {% endif %}
        {% endfor %}
        </div>

        {% include disqus.html %}
    </article>

    {% include sidebar.html %}

</div>


{% include foot.html %}
